/* CSS declarations go here */

body {
  background-image: url('/background-noise.png');
}

.brandfont {
  font-family: 'Kaushan Script', cursive;
}

.long {
  height: 350px;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 60px;
}

.publisherContainer {
  display: inline;
}

.sidebar-nav-fixed {
  padding: 9px 0;
  position: fixed;
}

.hero-unit {
  padding-bottom: 100px;
}

.hero-image {
  margin-right: 50px;
}

.chatcontainer {
  overflow: auto;
  height: 150px;
  min-width: 400px
}

.chatbox {
  min-width: 400px;
  height: 50px;
}

.classroom {
  min-height: 500px;
}

.content {
  margin-top: 50px;
}

#new-document-name {
  padding: inherit;
  margin: inherit;
}

.documentbox {
  height: 500px;
}

.videobox {
  min-height: 300px;
  min-width: 400px
}

div.OT_video-container {
  width: 480px;
  height: 360px;
}

.selected {
  background-color: #A7BEEB;
  border-radius: 4px 4px 0 0;
}

.selected:hover {
  background-color: inherit;
}
