/* CSS declarations go here */

.chatcontainer {
  overflow: scroll;
  height: 300px;
  min-width: 400px
}

.chatbox {
  min-width: 400px;
  height: 50px;
}

.classroom {
  min-height: 500px;
}

.content {
  margin-top: 50px;
}

.selected {
  background-color: yellow;
}

.documentbox {
  height: 400px;
}

.videobox {
  min-height: 300px;
  min-width: 400px
}

div.OT_video-container {
  width: 480px;
  height: 360px;
}
